/* weather.css */

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .input-container {
    position: relative;
    display: flex;
    align-items: center; 
  }
  
  input {
    padding: 10px 35px 10px 15px;
    font-size: 16px;
    border: 1px solid #0e0d0d;
    border-radius: 4px;
    width: 30vw; 
  }
  
  .search-icon {
    position: absolute;
    right: 1vw; 
    height: 2vw;
  }
  
  .dispaly{
    font-family: 'Times New Roman', Times, serif;
    font-style:italic;
  }
  